Package: com.iky1e.libremoteview
Name: LibRemoteView
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Kyle Howells
Author: Kyle Howells
Section: System
Tag: role::developer
